<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>产品-电气销售家</title>
<link rel="stylesheet" href="uikit/css/uikit.min.css" />
<link rel="stylesheet" href="css/page.css" />
<script src="jquery/jquery-1.7.2.min.js"></script>
<script src="uikit/js/uikit.min.js"></script>
<script src="uikit/js/uikit-icons.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="jquery/autocomplete/jquery.autocomplete.css" />
<script type="text/javascript"
	src="jquery/autocomplete/jquery.autocomplete.min.js"></script>
<script>
	$(function() {
	
		//brand
		$("#brand_name").autocomplete("index.php?act=getAutoBrand", {
			width : 250,
			max : 20,
			delay : 10,
			minChars : 1,
			matchSubset : 1,
			matchContains : 1,
			cacheLength : 20,
			formatItem : function(data, i, n) {
				var array = data.toString().split(',');
				return array[0];
			},
			formatResult : function(data, i, n) {
				var array = data.toString().split(',');
				return array[0];
			}
		});
		/*$("#brand_name").result(function(event, data, formatted) {
			var arr = data.toString().split(',');
			$("#brand_id").val(arr[1]);
		});*/
		//category
		$("#category_name").autocomplete("index.php?act=getAutoCategory", {
			width : 250,
			max : 20,
			delay : 10,
			minChars : 1,
			matchSubset : 1,
			matchContains : 1,
			cacheLength : 20,
			formatItem : function(data, i, n) {
				var array = data.toString().split(',');
				return array[0];
			},
			formatResult : function(data, i, n) {
				var array = data.toString().split(',');
				return array[0];
			}
		});
		/*$("#category_name").result(function(event, data, formatted) {
			var arr = data.toString().split(',');
			$("#category_id").val(arr[1]);
		});*/
		//model
		$("#model_name").autocomplete("index.php?act=getAutoModel", {
			width : 250,
			max : 20,
			delay : 10,
			minChars : 1,
			matchSubset : 1,
			matchContains : 1,
			cacheLength : 20,
			formatItem : function(data, i, n) {
				var array = data.toString().split(',');
				return array[0];
			},
			formatResult : function(data, i, n) {
				var array = data.toString().split(',');
				return array[0];
			}
		});
		/*$("#model_name").result(function(event, data, formatted) {
			var arr = data.toString().split(',');
			$("#model_id").val(arr[1]);
		});*/
		//measure
		$("#measure_name").autocomplete("index.php?act=getAutoMeasure", {
			width : 250,
			max : 20,
			delay : 10,
			minChars : 1,
			matchSubset : 1,
			matchContains : 1,
			cacheLength : 20,
			formatItem : function(data, i, n) {
				var array = data.toString().split(',');
				return array[0];
			},
			formatResult : function(data, i, n) {
				var array = data.toString().split(',');
				return array[0];
			}
		});
		/*$("#measure_name").result(function(event, data, formatted) {
			var arr = data.toString().split(',');
			$("#measure_id").val(arr[1]);
		});*/
		
		//3组3级款型切换
	   $("#brand").change(function () {
		   $("#sp").html('款型');
		   $("#model").val('');
		   var brand_id=$(this).val();
		   var category_id=$("#category").val();
		   $.post('index.php', {act: 'getModel', brand_id: brand_id,category_id:category_id}, function (data) {
                       $("#model").html(data);               
               
           });
	   });
		
		$("#category").change(function () {
			$("#sp").html('款型');
			 $("#model").val('');
			   var brand_id=$("#brand").val();
			   var category_id=$(this).val();
			   $.post('index.php', {act: 'getModel', brand_id: brand_id,category_id:category_id}, function (data) {
	                       $("#model").html(data);               
	               
	           });
		   });

		//提交表单
		$('#save_pro').click(
				function() {
					//var brand_id=$("#brand_id").val();
					var brand_name = $("#brand_name").val();
					//var measure_id=$("#measure_id").val();
					var measure_name = $("#measure_name").val();
					//var category_id=$("#category_id").val();
					var category_name = $("#category_name").val();
					//var model_id=$("#model_id").val();
					var model_name = $("#model_name").val();
					var specification = $("#specification").val();
					var market_price = $("#market_price").val();
					var product_id = $("#product_id").val();
					var min_price = $("#min_price").val();
					if (brand_name.length == 0 || measure_name.length == 0
							|| category_name.length == 0
							|| model_name.length == 0
							|| specification.length == 0
							|| market_price.length == 0
							|| min_price.length == 0) {
						alert("请完善产品信息！");
					} else {
						$.post('index.php', {
							act : 'save_pro',
							brand_name : brand_name,
							measure_name : measure_name,
							category_name : category_name,
							model_name : model_name,
							specification : specification,
							market_price : market_price,
							min_price : min_price,
							product_id : product_id
						}, function(data) {
							//alert(data);
							if (data == 1)
								setTimeout(function() {
									window.location.reload();
								}, 500);
							else
								alert('编辑产品失败！');

						});
					}
				});

		$("[id^='edit_pro_']").click(function() {
			var _data = $(this).attr('id');
			var product_id = _data.split("_")[2];
			$.post('index.php', {
				act : 'edit',
				product_id : product_id
			}, function(data) {
				if (data != '') {
					var proJson = jQuery.parseJSON(data);
					$("#product_id").val(proJson.product_id);
					$("#measure_name").val(proJson.measure_name);
					$("#brand_name").val(proJson.brand_name);
					$("#category_name").val(proJson.category_name);
					$("#model_name").val(proJson.model_name);
					$("#market_price").val(proJson.market_price);
					$("#min_price").val(proJson.min_price);
					$("#specification").val(proJson.specification);
				} else {
					$("#product_id").val(0);
					$("#measure_name").val('');
					$("#brand_name").val('');
					$("#category_name").val('');
					$("#model_name").val('');
					$("#market_price").val('');
					$("#min_price").val('');
					$("#specification").val('');
				}
			});
		});

		$("#add_pro").click(function() {
			$("#product_id").val(0);
			$("#measure_name").val('');
			$("#brand_name").val('');
			$("#category_name").val('');
			$("#model_name").val('');
			$("#market_price").val('');
			$("#min_price").val('');
			$("#specification").val('');
		});

		//brand
		/*$("#brand").change(function() {
			var brand = $(this).children('option:selected').val();
			var user_id = $("#user_id").val();
			if (brand.length > 0)
				window.location.href = "index.php?brand=" + brand;
		});
		//category
		$("#category").change(function() {
			var category = $(this).children('option:selected').val();
			var user_id = $("#user_id").val();
			if (category.length > 0)
				window.location.href = "index.php?category=" + category;
		});
		//model
		$("#model").change(function() {
			var model = $(this).children('option:selected').val();
			var user_id = $("#user_id").val();
			if (model.length > 0)
				window.location.href = "index.php?model=" + model;
		});*/
	});

	function del(product_id) {
		if (confirm("确定要删除这个产品吗？")) {
			$.post('index.php', {
				act : 'del',
				product_id : product_id
			}, function(data) {
				if (data == 1)
					setTimeout(function() {
						window.location.reload();
					}, 500);
				else
					alert("删除失败！");
			})
		}
	}
</script>


</head>
<body>
	{#include file="top.html"#}
	<div class="uk-container">
		{#include file="header.html"#}
		<div>
			<form action="product.php" method="get" id="search_form">
				<div class="uk-inline">
					<span class="uk-form-icon" uk-icon="icon: search"></span> <input
						class="uk-input" type="text" placeholder="产品ID、规格..." name="kw"
						value="{#$kw#}" style="width: 400px;" id="kw">
				</div>
				<div uk-form-custom="target: > * > span:first">
					<select id="brand" name="brand">
						<option value="">品牌</option> {#foreach from=$brand
						item=brand_temp#} {#if $brand_id==$brand_temp.brand_id#}
						<option value="{#$brand_temp.brand_id#}" selected>{#$brand_temp.name#}</option>
						{#else#}
						<option value="{#$brand_temp.brand_id#}">{#$brand_temp.name#}</option>
						{#/if#} {#/foreach#}
					</select>
					<button class="uk-button uk-button-default" type="button"
						tabindex="-1">
						<span></span> <span uk-icon="icon: chevron-down"></span>
					</button>
				</div>

				<div uk-form-custom="target: > * > span:first">
					<select id="category" name="category">
						<option value="">品类</option> {#foreach from=$category
						item=category_temp#} {#if $category_id==$category_temp.cid#}
						<option value="{#$category_temp.cid#}" selected>{#$category_temp.name#}</option>
						{#else#}
						<option value="{#$category_temp.cid#}">{#$category_temp.name#}</option>
						{#/if#} {#/foreach#}
					</select>
					<button class="uk-button uk-button-default" type="button"
						tabindex="-1">
						<span></span> <span uk-icon="icon: chevron-down"></span>
					</button>
				</div>

				<div uk-form-custom="target: > * > span:first">
					<select id="model" name="model">
						<option value="">款型</option> {#foreach from=$model
						item=model_temp#} {#if $model_id==$model_temp.model_id#}
						<option value="{#$model_temp.model_id#}" selected>{#$model_temp.name#}</option>
						{#else#}
						<option value="{#$model_temp.model_id#}">{#$model_temp.name#}</option>
						{#/if#} {#/foreach#}
					</select>
					<button class="uk-button uk-button-default" type="button"
						tabindex="-1" >
						<span id="sp"></span> <span uk-icon="icon: chevron-down"></span>
					</button>
				</div>
				<button class="uk-button uk-button-primary uk-margin-small-right"
					type="submit">搜索</button>

				<span style="float: right;"><button
						class="uk-button uk-button-primary uk-margin-small-right"
						type="button" uk-toggle="target: #modal-center" id="add_pro">+添加产品</button></span>
			</form>
		</div>
		<div id="modal-center" class="uk-flex-top" uk-modal>
			<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
				<button class="uk-modal-close-default" type="button" uk-close></button>
				<h2 class="uk-modal-title">添加产品</h2>

				<form class="uk-form-horizontal uk-margin-large">
					<input type="hidden" name="product_id" value='0' id="product_id" />
					<div class="uk-margin">
						<label class="uk-form-label" for="form-horizontal-text">计量单位</label>
						<div class="uk-form-controls">
							<input class="uk-input" type="text" placeholder="计量单位"
								name="measure_name" id="measure_name" /><input type="hidden"
								name="measure_id" id="measure_id" value='0' />
						</div>
					</div>
					<div class="uk-margin">
						<label class="uk-form-label" for="form-horizontal-text">产品品牌</label>
						<div class="uk-form-controls">
							<input class="uk-input" type="text" placeholder="产品品牌"
								name="brand_name" id="brand_name" /> <input type="hidden"
								name="brand_id" id="brand_id" value='0' />
						</div>
					</div>

					<div class="uk-margin">
						<label class="uk-form-label" for="form-horizontal-text">产品类别</label>
						<div class="uk-form-controls">
							<input class="uk-input" type="text" placeholder="产品类别"
								name="category_name" id="category_name" /> <input type="hidden"
								name="category_id" id="category_id" value='0' />
						</div>
					</div>

					<div class="uk-margin">
						<label class="uk-form-label" for="form-horizontal-text">产品型号</label>
						<div class="uk-form-controls">
							<input class="uk-input" type="text" placeholder="产品型号"
								name="model_name" id="model_name" /> <input type="hidden"
								name="model_id" id="model_id" value='0' />
						</div>
					</div>

					<div class="uk-margin">
						<label class="uk-form-label" for="form-horizontal-text">产品规格</label>
						<div class="uk-form-controls">
							<input class="uk-input" type="text" name="specification"
								id="specification" placeholder="规格">
						</div>
					</div>
					<div class="uk-margin">
						<label class="uk-form-label" for="form-horizontal-text">面价
							(元)</label>
						<div class="uk-form-controls">
							<input class="uk-input" type="text" name="market_price"
								id="market_price" placeholder="面价 (单位：元)">
						</div>

					</div>
					<div class="uk-margin">
						<label class="uk-form-label" for="form-horizontal-text">最低价
							(元)</label>
						<div class="uk-form-controls">
							<input class="uk-input" type="text" name="min_price"
								id="min_price" placeholder="最低价 (单位：元)">
						</div>
					</div>
				</form>

				<p class="uk-text-right">
					<button class="uk-button uk-button-default uk-modal-close"
						type="button">取消</button>
					<button class="uk-button uk-button-primary" type="button"
						id="save_pro">保存</button>
				</p>
			</div>
		</div>
		<table class="uk-table uk-table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>型号</th>
					<th>品牌/类</th>
					<th>规格</th>
					<th>面价(元)</th>
					<th>最低价(元)</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{#foreach from=$data item=temp#}

				<tr class="uk-text-small">
					<td>{#$temp.product_id#}</td>
					<td>{#$temp.model_name#}</td>
					<td>{#$temp.brand_name#} / {#$temp.category_name#}</td>
					<td>{#$temp.specification#}</td>
					<td>{#$temp.market_price#} / {#$temp.measure_name#}</td>
					<td>{#$temp.min_price#} / {#$temp.measure_name#}</td>
					<td><a href="#modal-center"
						class="uk-text-small uk-text-primary"
						id="edit_pro_{#$temp.product_id#}" uk-toggle>修改</a> &nbsp;&nbsp; <a
						href="javascript:del('{#$temp.product_id#}')"
						class="uk-text-small uk-text-primary">删除</a></td>
				</tr>
				{#/foreach#}
			</tbody>
		</table>
		<div class="uk-margin uk-margin-bottom">{#$page#}</div>
	</div>
</body>
</html>