<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<include file="Common:cssjs" />
</head>
<body>
<div class="wrap jj">
<style type="text/css">
	html{_overflow-y:scroll}
</style>
	
	<form name="searchform" action="{:U('Yonghu/xquser')}" method="get"  class="well form-search" id="searchform">
<div class="search_type cc mb10">
	 <div class="mb10"> 
              <input type="text" value="{$Think.get.title}" class="input-text" name="title" placeholder="请输入手机/姓名" />
			  &nbsp;
              <input type="submit" value="确定搜索"  class="btn btn-primary btn_submit" name="dosubmit" id="goodssearch">
            </div>
	</div>
  </form>
  

	<div class="table-list">
	    <table width="100%" class="table table-hover">
	      <thead>
	        <tr>
	          <th width="5%">序号</th>
	          <th width="10%" align="left" >用户</th>
	          <th width="10%" align="left" >姓名/ID</th>
			  <th width="10%" align="left" >身份证</th>
	          <th width="10%" align="left" >注册时间</th>
			  <th width="10%" align="left" >最后登录时间</th>
			  <th width="10%" align="left" >客户端类型</th>
			  <th width="5%" align="left" >用户类型</th>
			  <th width="5%" align="left" >消费积分</th>
			  <th width="5%" align="left" >获得评分</th>
	          <th width="20%" >操作</th>
	        </tr>
	      </thead>
	      <tbody>
	      <foreach name="list" key="key" item="v">
	        <tr>
	          <td width="5%" align="center">{$key+1}</td>
	          <td width="10%" >{$v.mobile}</td>
	          <td width="10%" >{$v.name}({$v.uid})</td>
			  <td width="10%" >{$v.idcard_no}</td>
	          <td width="10%" >{$v.reg_time}</td>
			  <td width="10%" >{$v.last_time}</td>
			  <td width="10%" >{$v.client_type}</td>
			  <td width="5%" >{$v.type_name}</td>
			  <td width="5%" >{$v.xfjf}</td>
			  <td width="5%" >{$v.xypf}</td>
	          <td width="20%"  align="center">
			  <a href="{:U('Yonghu/show',array('id'=>$v['uid']))}">查看</a> | 
			  <span class="delbtn" data="{:U('Yonghu/reset',array('id'=>$v['uid']))}" cont="重置后密码888888？" >密码重置</span> | 
			  <if condition="$v.flag eq '1'">
	          <span>已屏蔽</span> | 
			  <else />
			  <span class="delbtn" data="{:U('Yonghu/del',array('id'=>$v['uid']))}" cont="确定屏蔽该用户？" >屏蔽</span> | 
			  </if>
	          <a href="{:U('Yonghu/edit_integral',array('id'=>$v['uid']))}">积分调整</a> | 
	          <a href="{:U('Yonghu/integral',array('id'=>$v['uid']))}">积分流水</a>
	          </td>
	        </tr>
	       </foreach>
	      </tbody>
	    </table>
	    <div class="pagination">{$Page}</div>
	</div>
</div>
</body>
</html>
