<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<include file="Common:cssjs" />
<script type="text/javascript">
var Menudelete = function(t){
	if(confirm('你确定要删除嘛？删除后不可恢复！')) location.href=t;
}
</script>
</head>
<body class="J_scroll_fixed">
<div class="wrap jj">
  <ul class="nav nav-tabs">
       <li class="active"><a href='javascript:;'>菜单管理</a></li>
       <li><a href='{:U("Menu/add",array("parentid"=>0))}' >添加菜单</a></li>
  </ul>
<style type="text/css">
	html{_overflow-y:scroll}
</style>
<form name="myform"  method="post" class="J_ajaxForm" action="{:U('Menu/listorders')}">
    <div class="table-list">
      <table width="100%" cellspacing="0">
        <thead>
          <tr>
            <th width="80">排序</th>
            <th width="100">id</th>
            <th align="left">菜单名称</th>
            <th width="200">管理操作</th>
          </tr>
        </thead>
        <tbody>
        {$categorys}
        </tbody>
      </table>
      <div class="form-actions">
      <input type="submit" class="btn btn-primary btn_submit J_ajax_submit_btn" value="排序" />
	  </div>
    </div>
  </div>
  </div>
</form>

</body>
</html>
