<!DOCTYPE html>
<html lang="zh_CN" style="overflow: hidden;">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="renderer" content="webkit">
<meta charset="utf-8">
<title>江苏明及电气—供应商竞标系统</title>
<script type="text/javaScript" src="/statics/js/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/statics/home/css/indexn.css"/>

</head>
<body>
<div class="tou">
	<div class="tou_cont">
		<div class="denglu">
			<a href="{:U('Index/index')}" title="返回竞标"><img src="/statics/home/images/fanhui.png"></a>
		</div>
	</div>
</div>

<div class="cont1">
<li class="cont1_li">欢迎更多优秀的供应商加入我们！</li><li class="cont1_r">账号开通方式： ▪ 联系人[ <font color="#0e4481">王经理</font> ]  ▪ 联系电话[ <font color="#0e4481">13585359094</font> ]</li>
</div>

<div class="logo_cont">
<form name="myform" action="{:U('Index/logo')}" method="post" id="myform">
<div class="d_name"><input type="text" placeholder="请输入账号" name="name"/></div>
<div class="d_pass"><input type="text" placeholder="请输入密码" name="pass"/></div>
<input name="dosubmit" type="submit"  value="登 录" class="btn_submit">
</form>
</div>



</body>
</html>