<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<include file="Common:cssjs" />
<link rel="stylesheet" type="text/css" href="/statics/js/calendar/jscal2.css"/>
<link rel="stylesheet" type="text/css" href="/statics/js/calendar/border-radius.css"/>
<link rel="stylesheet" type="text/css" href="/statics/js/calendar/win2k.css"/>
<script type="text/javascript" src="/statics/js/calendar/calendar.js"></script> 
<script type="text/javascript" src="/statics/js/calendar/lang/en.js"></script>
</head>
<body class="J_scroll_fixed">
<div class="wrap J_check_wrap">
<div class="subnav">
  <div class="content-menu ib-a blue line-x"> </div>
</div>
<style type="text/css">
	html{_overflow-y:scroll}
</style>
<div class="pad-lr-10">
    <form name="searchform" action="" method="get" class="well form-search">
    <input type="hidden" value="Admin" name="g">
    <input type="hidden" value="Logs" name="m">
    <input type="hidden" value="index" name="a">
     <div class="search_type cc mb10">
    <table width="100%" cellspacing="0" class="search-form">
      <tbody>
        <tr>
          <td><div class="explain-col">
              用户名:
              <input type="text" value="{$Think.get.username}" class="input-text" name="username">
              IP:
              <input type="text" value="{$Think.get.ip}" class="input-text" name="ip" size='20'>
              时 间:
              <input type="text" name="start_time" id="start_time" value="{$Think.get.start_time}" size="21" class="date"  style="width:85px;" >
              &nbsp;<script type="text/javascript">
			Calendar.setup({
			weekNumbers: true,
		    inputField : "start_time",
		    trigger    : "start_time",
		    dateFormat: "%Y-%m-%d %H:%M:%S",
		    showTime: 12,
		    minuteStep: 1,
		    onSelect   : function() {this.hide();}
			});
        </script> 至
              <input type="text" name="end_time" id="end_time" value="{$Think.get.end_time}" size="21" class="date"  style="width:85px;" >
              &nbsp;<script type="text/javascript">
			Calendar.setup({
			weekNumbers: true,
		    inputField : "end_time",
		    trigger    : "end_time",
		    dateFormat: "%Y-%m-%d %H:%M:%S",
		    showTime: 12,
		    minuteStep: 1,
		    onSelect   : function() {this.hide();}
			});
        </script>
              <input type="submit" value="确定搜索" class="btn  btn-primary btn_submit" name="dosubmit">
     
            </div></td>
        </tr>
      </tbody>
    </table>
    </div>
  </form>
    <div class="table-list">
         <table width="100%" class="table table-hover">
        <thead>
          <tr>
            <th width="100">序号</th>
            <th width="100">用户名</th>
            <th  width="200">操作说明</th>
            <th  width="100">影响ID</th>
            <th  width="100">操作动作</th>
            <th width="100">操作时间</th>
            <th width="100">IP</th>
          </tr>
        </thead>
        <tbody>
        <volist name="logs" id="vo">
          <tr>
            <td >{$vo.id}</td>
            <td >{$vo.username}</td>
            <td >{$vo.txt}</td>
            <td >{$vo.keysn}</td>
             <td >{$vo.mvcname}</td>
            <td >{$vo.addtime|date="Y-m-d H:i:s",###}</td>
            <td >{$vo.ip}</td>
          </tr>
         </volist>
        </tbody>
      </table>
       <div class="pagination">{$Page}</div>
    </div>
</div>
</div>
</body>
</html>