<title>{$Config.sitename} - 后台管理中心</title>
<link href="/st/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/st/css/zh-cn-system.css" rel="stylesheet" type="text/css" />
<link href="/st/css/table_form.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/st/css/style/zh-cn-styles1.css" title="styles1" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/st/css/style/zh-cn-styles2.css" title="styles2" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/st/css/style/zh-cn-styles3.css" title="styles3" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/st/css/style/zh-cn-styles4.css" title="styles4" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/st/css/style/zh-cn-styles5.css" title="styles5" media="screen" />

<script language="javascript" type="text/javascript" src="/st/js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="/st/js/styleswitch.js"></script>
<script language="javascript" type="text/javascript" src="/st/js/admin_common.js"></script>

<script language="javascript" type="text/javascript" src="/st/js/jquery.sGallery.js"></script>
<script language="javascript" type="text/javascript" src="/st/js/formvalidator.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="/st/js/formvalidatorregex.js" charset="UTF-8"></script>
<link rel="stylesheet" type="text/css" href="/st/css/dialog.css" />
<script type="text/javascript" src="/st/js/dialog.js"></script>

