<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="off">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>{$Config.sitename} - 后台管理中心</title>
<link href="/statics/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/statics/css/zh-cn-system.css" rel="stylesheet" type="text/css" />
<link href="/statics/css/table_form.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/statics/css/style/zh-cn-styles1.css" title="styles1" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/statics/css/style/zh-cn-styles2.css" title="styles2" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/statics/css/style/zh-cn-styles3.css" title="styles3" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/statics/css/style/zh-cn-styles4.css" title="styles4" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/statics/css/style/zh-cn-styles5.css" title="styles5" media="screen" />
<script language="javascript" type="text/javascript" src="/statics/js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="/statics/js/styleswitch.js"></script>
<script language="javascript" type="text/javascript" src="/statics/js/admin_common.js"></script>
<script language="javascript" type="text/javascript" src="/statics/js/jquery.sGallery.js"></script>
<script language="javascript" type="text/javascript" src="/statics/js/formvalidator.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="/statics/js/formvalidatorregex.js" charset="UTF-8"></script>
<link rel="stylesheet" type="text/css" href="/statics/css/dialog.css" />
<script type="text/javascript" src="/statics/js/dialog.js"></script>