BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
:focus {
	OUTLINE-WIDTH: 0px
}
ADDRESS {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CAPTION {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CITE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CODE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
DFN {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
EM {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
STRONG {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
TH {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
VAR {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
OPTGROUP {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
H1 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H2 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H3 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H4 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H5 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H6 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
ABBR {
	BORDER-RIGHT-WIDTH: 0px; FONT-VARIANT: normal; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
ACRONYM {
	BORDER-RIGHT-WIDTH: 0px; FONT-VARIANT: normal; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
INPUT {
	FONT-FAMILY: inherit
}
BUTTON {
	FONT-FAMILY: inherit
}
TEXTAREA {
	FONT-FAMILY: inherit
}
SELECT {
	FONT-FAMILY: inherit
}
OPTGROUP {
	FONT-FAMILY: inherit
}
OPTION {
	FONT-FAMILY: inherit
}
CODE {
	FONT-SIZE: 100%
}
KBD {
	FONT-SIZE: 100%
}
SAMP {
	FONT-SIZE: 100%
}
TT {
	FONT-SIZE: 100%
}
article {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
aside {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
canvas {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
details {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
figcaption {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
figure {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
footer {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
header {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
hgroup {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
MENU {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
nav {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
section {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
summary {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
time {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
mark {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
audio {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
video {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
article {
	DISPLAY: block
}
aside {
	DISPLAY: block
}
canvas {
	DISPLAY: block
}
details {
	DISPLAY: block
}
figcaption {
	DISPLAY: block
}
figure {
	DISPLAY: block
}
footer {
	DISPLAY: block
}
header {
	DISPLAY: block
}
hgroup {
	DISPLAY: block
}
MENU {
	DISPLAY: block
}
nav {
	DISPLAY: block
}
section {
	DISPLAY: block
}
summary {
	DISPLAY: block
}
INPUT {
	FONT-SIZE: 100%; VERTICAL-ALIGN: middle
}
BUTTON {
	FONT-SIZE: 100%; VERTICAL-ALIGN: middle
}
TEXTAREA {
	FONT-SIZE: 100%; VERTICAL-ALIGN: middle
}
SELECT {
	FONT-SIZE: 100%; VERTICAL-ALIGN: middle
}
BODY {
	LINE-HEIGHT: 1.5; FONT-FAMILY: Tahoma, Verdana,Geneva, sans-serif; COLOR: #666; FONT-SIZE: 12px
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
SUP {
	FONT-SIZE: 100%; VERTICAL-ALIGN: baseline
}
SUB {
	FONT-SIZE: 100%; VERTICAL-ALIGN: baseline
}
INS {
	TEXT-DECORATION: none
}
BLOCKQUOTE {
	QUOTES: none
}
Q {
	QUOTES: none
}
BLOCKQUOTE:before {
	CONTENT: none
}
BLOCKQUOTE:after {
	CONTENT: none
}
Q:before {
	CONTENT: none
}
Q:after {
	CONTENT: none
}
A {
	VERTICAL-ALIGN: baseline; CURSOR: pointer
}
A * {
	VERTICAL-ALIGN: baseline; CURSOR: pointer
}
LABEL {
	VERTICAL-ALIGN: baseline; CURSOR: pointer
}
BUTTON {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; CURSOR: pointer
}
INPUT {
	COLOR: #333; resize: none
}
TEXTAREA {
	COLOR: #333; resize: none
}
INPUT[type='radio'] {
	PADDING-BOTTOM: 1px; MARGIN: -1px 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; VERTICAL-ALIGN: middle; PADDING-TOP: 1px
}
INPUT[type='checkbox'] {
	PADDING-BOTTOM: 1px; MARGIN: -1px 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; VERTICAL-ALIGN: middle; PADDING-TOP: 1px
}
BODY {
	BACKGROUND-COLOR: #fff; COLOR: #333333
}
BR {
	LINE-HEIGHT: 0; HEIGHT: 0px; OVERFLOW: hidden
}
.c:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.c {
	ZOOM: 1
}
.c2 {
	LINE-HEIGHT: 0; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden
}
.c3_list LI {
	WIDTH: 100%; VERTICAL-ALIGN: middle; OVERFLOW: hidden
}
.c3_list DD {
	WIDTH: 100%; VERTICAL-ALIGN: middle; OVERFLOW: hidden
}
.l {
	FLOAT: left
}
.r {
	FLOAT: right
}
.hand {
	CURSOR: pointer
}
.fixed {
	TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.inside {
	WIDTH: 100%; FLOAT: left
}
.hidden {
	DISPLAY: none
}
.show {
	DISPLAY: block
}
.tb_tac {
	MARGIN: 0px auto
}
.no_mar {
	MARGIN: 0px
}
.no_pt {
	PADDING-TOP: 0px !important
}
.no_pb {
	PADDING-BOTTOM: 0px !important
}
.no_pad {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; PADDING-TOP: 0px !important
}
.no_border {
	BORDER-RIGHT-WIDTH: 0px !important; BORDER-TOP-WIDTH: 0px !important; BORDER-BOTTOM-WIDTH: 0px !important; BORDER-LEFT-WIDTH: 0px !important
}
.no_mar {
	MARGIN: 0px
}
.tal {
	TEXT-ALIGN: left !important
}
.tar {
	TEXT-ALIGN: right !important
}
.tac {
	TEXT-ALIGN: center !important
}
.hand {
	CURSOR: pointer
}
.no_border {
	BORDER-BOTTOM-STYLE: none !important; BORDER-RIGHT-STYLE: none !important; BORDER-TOP-STYLE: none !important; BORDER-LEFT-STYLE: none !important
}
.collapse {
	BORDER-COLLAPSE: collapse
}
.no_top {
	BORDER-TOP-STYLE: none !important
}
.no_bgcolor {
	BACKGROUND-COLOR: transparent !important
}
.no_bg {
	BACKGROUND-IMAGE: none !important
}
.no_pl {
	PADDING-LEFT: 0px !important
}
.v_top {
	VERTICAL-ALIGN: top
}
.v_bottom {
	VERTICAL-ALIGN: bottom
}
.v_middle {
	VERTICAL-ALIGN: 3px
}
.f_normal {
	FONT-WEIGHT: normal !important
}
.fix_dub {
	DISPLAY: inline !important
}
.di {
	DISPLAY: inline !important
}
.t_2em {
	TEXT-INDENT: 2em
}
.z {
	ZOOM: 1
}
.overflow-x {
	overfow-x: hidden
}
.overflow-y {
	overfow-y: hidden
}
.overflow-all {
	OVERFLOW: hidden
}
.no_min {
	MIN-HEIGHT: 0px !important; HEIGHT: auto !important
}
.c_l {
	CLEAR: left !important
}
.c_r {
	CLEAR: right !important
}
.c_b {
	CLEAR: both !important
}
.f_break {
	WORD-WRAP: break-word; WORD-BREAK: break-all
}
.f_blue {
	COLOR: #3580b5
}
.f_blue_b {
	COLOR: #336bb1
}
.f_blue_c {
	COLOR: #004097
}
.f_blue_d {
	COLOR: #23599c
}
.f_red {
	COLOR: #bb0000
}
.f_hui {
	COLOR: #7c7c7c
}
.f_red_b {
	COLOR: #c72053
}
.f_hui_b {
	COLOR: #838383
}
.f_nowrap {
	TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.spec_font {
	FONT-FAMILY: Georgia,"Times New Roman",Times,serif
}
.f_b {
	FONT-WEIGHT: bold
}
.word_wrap {
	WORD-WRAP: break-word
}
.f_hei {
	COLOR: #333 !important
}
A {
	COLOR: #494949; TEXT-DECORATION: none
}
A:hover {
	COLOR: #666; TEXT-DECORATION: underline
}
.a_green {
	COLOR: #5c8e05; TEXT-DECORATION: none
}
.a_green:hover {
	COLOR: #434343; TEXT-DECORATION: underline
}
.a_red_v2_a {
	COLOR: #c9151e; TEXT-DECORATION: none
}
.a_red_v2_a:hover {
	COLOR: #434343; TEXT-DECORATION: underline
}
.hui_link {
	COLOR: #909090; TEXT-DECORATION: none
}
.hui_link:hover {
	COLOR: #434343; TEXT-DECORATION: underline
}
.f30 {
	COLOR: #b00000; TEXT-DECORATION: underline
}
.f30:hover {
	COLOR: #434343; TEXT-DECORATION: none
}
.hui_ud {
	COLOR: #434343; TEXT-DECORATION: underline
}
.hui_ud:hover {
	COLOR: #434343; TEXT-DECORATION: none
}
.fb14_red {
	COLOR: #a40000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.fb14_red:hover {
	TEXT-DECORATION: underline
}
.fb14_a40 {
	COLOR: #a40000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.fb14_a40:hover {
	TEXT-DECORATION: underline
}
.fb15_red {
	COLOR: #a40000; FONT-SIZE: 15px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.fb15_red:hover {
	TEXT-DECORATION: underline
}
.a40 {
	COLOR: #a40000; TEXT-DECORATION: none
}
.a40:hover {
	COLOR: #434343; TEXT-DECORATION: underline
}
.f30_ud {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
.f30_ud:hover {
	COLOR: #ff3300; TEXT-DECORATION: none
}
.fb_red {
	COLOR: #ff3300; FONT-WEIGHT: bold
}
.hui_c_link {
	COLOR: #7b7b7b; TEXT-DECORATION: none
}
.hui_c_link:hover {
	COLOR: #434343; TEXT-DECORATION: underline
}
.b40 {
	COLOR: #b40000; TEXT-DECORATION: none
}
.b40:hover {
	TEXT-DECORATION: underline
}
.b40_noud {
	COLOR: #b40000; TEXT-DECORATION: none
}
.b40_noud:hover {
	TEXT-DECORATION: none
}
.b40_ud {
	COLOR: #b40000; TEXT-DECORATION: underline
}
.b40_ud:hover {
	TEXT-DECORATION: none
}
.b40_tdn {
	COLOR: #b40000; TEXT-DECORATION: none
}
.b40_tdn:hover {
	TEXT-DECORATION: underline
}
.a_blue {
	COLOR: #127ab5; TEXT-DECORATION: none
}
.a_blue:hover {
	COLOR: #434343; TEXT-DECORATION: underline
}
.a_blue_b {
	COLOR: #23599c; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.a_blue_b:hover {
	TEXT-DECORATION: underline
}
.a_blue_c {
	COLOR: #004276; TEXT-DECORATION: none
}
.a_blue_c:hover {
	TEXT-DECORATION: underline
}
.a_blue_d {
	COLOR: #004097 !important; TEXT-DECORATION: none
}
.a_blue_d:hover {
	TEXT-DECORATION: underline
}
.a_blue_e {
	COLOR: #23599c; TEXT-DECORATION: underline
}
.a_blue_e:hover {
	COLOR: #333; TEXT-DECORATION: none
}
.a_blue_g {
	COLOR: #2b8db2; TEXT-DECORATION: none
}
.a_blue_g:hover {
	COLOR: #333; TEXT-DECORATION: underline
}
.w_260 {
	WIDTH: 260px !important
}
.d_c {
	MARGIN: 0px auto; WIDTH: 960px
}
.seo {
	TEXT-INDENT: -9999px; FONT-SIZE: 0px
}
.bg_white {
	BACKGROUND-COLOR: #fff !important
}
.f_b {
	FONT-WEIGHT: bold
}
.f_14 {
	FONT-SIZE: 14px
}
.f_16 {
	FONT-SIZE: 16px !important
}
.fb_14 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.red_a {
	COLOR: #b00000
}
.fb_14 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.hui_a {
	COLOR: #828282
}
.hui_c {
	COLOR: #666
}
.hui_d {
	COLOR: #828282
}
.hui_f {
	COLOR: #7c7a7a
}
.hui_g {
	COLOR: #505050
}
.hui_h {
	COLOR: #4c4c4c
}
.hui_i {
	COLOR: #999
}
.red_c {
	COLOR: #a40000
}
.red_cb {
	COLOR: #b00000; FONT-WEIGHT: bold
}
.red_e {
	COLOR: #b00000; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.f_white {
	COLOR: #fff
}
.red_h {
	COLOR: #ff3300; TEXT-DECORATION: line-through
}
.hui_b {
	COLOR: #8f9090; FONT-WEIGHT: bold
}
.cheng {
	COLOR: #e27107
}
.f_red_c {
	COLOR: #ff3300
}
.fb_f60 {
	COLOR: #f60; FONT-WEIGHT: bold
}
.fb_f30 {
	COLOR: #f30; FONT-WEIGHT: bold
}
.f_b0 {
	COLOR: #b00000
}
.dot_font {
	POSITION: relative; FONT-FAMILY: Arial; FONT-SIZE: 20px; TOP: 2px; FONT-WEIGHT: bold
}
.f30_noline {
	ZOOM: 1; FONT-FAMILY: Arial; COLOR: #f30; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.f30_noline:hover {
	ZOOM: 1; COLOR: #434343; TEXT-DECORATION: underline
}
.fb_green {
	COLOR: #85a645; FONT-WEIGHT: bold
}
.f_green {
	COLOR: #5c8e05
}
.now_tj {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; BACKGROUND: url(http://static.aceona.com/app_images/arrow_001.gif) no-repeat 0px 50%; COLOR: #b40000; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.now_tj:hover {
	BACKGROUND-POSITION: 2px 50%
}
.fb_red {
	COLOR: #bb0000; FONT-WEIGHT: bold
}
.f_line_a {
	TEXT-DECORATION: line-through
}
.fb_big_a40 {
	COLOR: #a40000 !important; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.fb_big_a40:hover {
	TEXT-DECORATION: none
}
.fb_f30 {
	COLOR: #ff3300; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.fb_f30:hover {
	COLOR: #434343; TEXT-DECORATION: none
}
.f14_red {
	COLOR: #bb0000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.red_a {
	COLOR: #b40000
}
.f_13 {
	FONT-FAMILY: "宋体",Arial; FONT-SIZE: 13px
}
.f_16 {
	FONT-SIZE: 16px
}
.m_t_10 {
	MARGIN-TOP: 10px !important
}
.m_l_16 {
	MARGIN-LEFT: 16px !important
}
.m_t_12 {
	MARGIN-TOP: 12px !important
}
.m_t_18 {
	MARGIN-TOP: 18px !important
}
.m_t_22 {
	MARGIN-TOP: 22px !important
}
.m_t_26 {
	MARGIN-TOP: 26px !important
}
.m_t_30 {
	MARGIN-TOP: 30px !important
}
.m_lr_6 {
	MARGIN: 0px 6px
}
.p_tb_15 {
	PADDING-BOTTOM: 15px !important; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; PADDING-TOP: 15px !important
}
.p_tb_4 {
	PADDING-BOTTOM: 4px !important; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; PADDING-TOP: 4px !important
}
.p_t_10 {
	PADDING-TOP: 10px !important
}
.p_t_14 {
	PADDING-TOP: 14px !important
}
.p_tb_14 {
	PADDING-BOTTOM: 14px !important; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; PADDING-TOP: 14px !important
}
.m_l_12 {
	MARGIN-LEFT: 12px !important
}
.p_t_12 {
	PADDING-TOP: 12px !important
}
.p_t_14 {
	PADDING-TOP: 14px !important
}
.p_t_24 {
	PADDING-TOP: 24px !important
}
.p_t_18 {
	PADDING-TOP: 18px !important
}
.p_l_65 {
	PADDING-LEFT: 65px
}
.lh_16 {
	LINE-HEIGHT: 16px
}
.m_l_24 {
	MARGIN-LEFT: 24px !important
}
.m_r_24 {
	MARGIN-RIGHT: 24px !important
}
.m_r_6 {
	MARGIN-RIGHT: 6px !important
}
.p_12 {
	PADDING-BOTTOM: 12px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; PADDING-TOP: 12px
}
.p_15 {
	PADDING-BOTTOM: 15px !important; PADDING-LEFT: 15px !important; PADDING-RIGHT: 15px !important; PADDING-TOP: 15px !important
}
.p_8 {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 8px
}
.p_tb_25 {
	PADDING-BOTTOM: 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 25px
}
.p_tb_8 {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
.p_r_12 {
	PADDING-RIGHT: 12px
}
.m_r_5 {
	MARGIN: 0px 5px 0px 0px
}
.m_r_4 {
	MARGIN: 0px 4px 0px 0px
}
.m_t_4 {
	MARGIN-TOP: 4px
}
.m_t_8 {
	MARGIN: 8px 0px 0px
}
.m_lr_8 {
	MARGIN: 0px 8px
}
.m_tb_25 {
	MARGIN: 25px auto
}
.m_lr_4 {
	MARGIN: 0px 4px
}
.m_lr_4 {
	MARGIN: 0px 8px
}
.m_tb_8 {
	MARGIN: 8px 0px
}
.m_tb_12 {
	MARGIN: 12px 0px
}
.m_l_4 {
	MARGIN: 0px 0px 0px 4px
}
.m_l_12 {
	MARGIN: 0px 0px 0px 12px
}
.m_t_20 {
	MARGIN: 20px 0px 0px
}
.m_t_15 {
	MARGIN: 15px 0px 0px
}
.m_l_10 {
	MARGIN: 0px 0px 0px 10px
}
.m_l_8 {
	MARGIN: 0px 0px 0px 8px
}
.m_r_8 {
	MARGIN: 0px 8px 0px 0px
}
.m_b_8 {
	MARGIN-BOTTOM: 8px
}
.m_t_30 {
	MARGIN: 30px 0px 0px
}
.m_r_4 {
	MARGIN-RIGHT: 4px
}
.mfb_8 {
	MARGIN-BOTTOM: -8px
}
.m_tl_4 {
	MARGIN: 4px 0px 0px 4px
}
.m_l_24 {
	MARGIN: 0px 0px 0px 24px
}
.m_lr_8 {
	MARGIN: 0px 8px
}
.m_lr_12 {
	MARGIN: 0px 12px
}
.m_lr_6 {
	MARGIN: 0px 6px
}
.m_r_12 {
	MARGIN-RIGHT: 12px !important
}
.m_t_12 {
	MARGIN-TOP: 12px !important
}
.m_t_14 {
	MARGIN-TOP: 14px !important
}
.m_l_90 {
	MARGIN-TOP: 90px !important
}
.m_r_15 {
	MARGIN-RIGHT: 15px
}
.m_l_10 {
	MARGIN-LEFT: 10px
}
.m_lr_15 {
	MARGIN: 0px 15px
}
.m_l_24 {
	MARGIN-LEFT: 24px
}
.mar_8 {
	MARGIN: 8px
}
.mar_12 {
	MARGIN: 12px
}
.m_f_6 {
	MARGIN-TOP: -6px !important
}
.m_f_8 {
	MARGIN-TOP: -8px !important
}
.m_tl_4 {
	MARGIN: 4px 0px 0px 4px
}
.m_tl_8 {
	MARGIN: 8px 0px 0px 8px
}
.m_tl_12 {
	MARGIN: 12px 0px 0px 12px
}
.m_l_6 {
	MARGIN-LEFT: 6px !important
}
.m_t_24 {
	MARGIN-TOP: 24px !important
}
.m_l_20 {
	MARGIN-LEFT: 20px !important
}
.m_t_16 {
	MARGIN-TOP: 16px !important
}
.m_t_30 {
	MARGIN-TOP: 30px !important
}
.m_r_14 {
	MARGIN-RIGHT: 14px !important
}
.m_lr_2 {
	MARGIN: 0px 2px
}
.m_l_28 {
	MARGIN-LEFT: 28px !important
}
.m_b_20 {
	MARGIN-BOTTOM: 20px !important
}
.m_b_24 {
	MARGIN-BOTTOM: 24px !important
}
.m_b_75 {
	MARGIN-BOTTOM: 75px !important
}
.p_l_100 {
	PADDING-LEFT: 100px
}
.p_l_400 {
	PADDING-LEFT: 400px
}
.p_10_12 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; PADDING-TOP: 10px
}
.p_t_8 {
	PADDING-TOP: 8px !important
}
.p_l_4 {
	PADDING-LEFT: 4px !important
}
.pad_8 {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 8px
}
.pad_10 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.pad_15 {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
.pad_20 {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 20px
}
.p_b_8 {
	PADDING-BOTTOM: 8px !important
}
.p_t_15 {
	PADDING-TOP: 15px
}
.pad_15 {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
.p_15_12 {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; PADDING-TOP: 15px
}
.p_l_10 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.p_l_8 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.p_20 {
	PADDING-BOTTOM: 20px !important; PADDING-LEFT: 20px !important; PADDING-RIGHT: 20px !important; PADDING-TOP: 20px !important
}
.p_l_12 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.p_t_4 {
	PADDING-TOP: 4px !important
}
.p_t_12 {
	PADDING-TOP: 12px !important
}
.p_t_30 {
	PADDING-TOP: 30px
}
.p_b_12 {
	PADDING-BOTTOM: 12px !important
}
.p_l_90 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 90px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.p_l_40 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 40px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.p_20 {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 20px
}
.pt_no {
	PADDING-TOP: 0px !important
}
.pb_no {
	PADDING-BOTTOM: 0px !important
}
.pl_no {
	PADDING-LEFT: 0px !important
}
.pr_no {
	PADDING-RIGHT: 0px !important
}
.p_t_20 {
	PADDING-TOP: 20px !important
}
.p_tb_8 {
	PADDING-BOTTOM: 8px !important; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; PADDING-TOP: 8px !important
}
.p_lr_8 {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 8px !important; PADDING-RIGHT: 8px !important; PADDING-TOP: 0px !important
}
.p_l_6 {
	PADDING-LEFT: 6px !important
}
.p_t_6 {
	PADDING-TOP: 6px !important
}
.p_tl_8 {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 8px !important; PADDING-RIGHT: 0px !important; PADDING-TOP: 8px !important
}
.p_r_8 {
	PADDING-RIGHT: 8px !important
}
.pad_4 {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
.p_lr_12 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; PADDING-TOP: 0px
}
.p_lr_24 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 24px; PADDING-RIGHT: 24px; PADDING-TOP: 0px
}
.p_tb_12 {
	PADDING-BOTTOM: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 12px
}
.p_tb_24 {
	PADDING-BOTTOM: 24px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 24px
}
.p_t_2 {
	PADDING-TOP: 2px !important
}
.pad_12 {
	PADDING-BOTTOM: 12px !important; PADDING-LEFT: 12px !important; PADDING-RIGHT: 12px !important; PADDING-TOP: 12px !important
}
.pad_24 {
	PADDING-BOTTOM: 24px !important; PADDING-LEFT: 24px !important; PADDING-RIGHT: 24px !important; PADDING-TOP: 24px !important
}
.p_r_24 {
	PADDING-RIGHT: 24px !important
}
.p_b_6 {
	PADDING-BOTTOM: 6px !important
}
.p_b_10 {
	PADDING-BOTTOM: 10px !important
}
.p_no_r {
	PADDING-RIGHT: 0px !important
}
.p_l_24 {
	PADDING-LEFT: 24px !important
}
.p_l_14 {
	PADDING-LEFT: 14px !important
}
.tipsinfo_pad_a {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 0px; PADDING-TOP: 4px
}
.line_18 {
	LINE-HEIGHT: 18px !important
}
.line_20 {
	LINE-HEIGHT: 20px !important
}
.w_382 {
	WIDTH: 382px
}
.w_96_percent {
	WIDTH: 96%
}
.w_60 {
	WIDTH: 60px !important
}
.w_400 {
	WIDTH: 400px !important
}
.w_300 {
	WIDTH: 300px !important
}
.w_360 {
	WIDTH: 360px !important
}
.w_100 {
	WIDTH: 100px !important
}
.w_364 {
	WIDTH: 364px !important
}
.w_700 {
	WIDTH: 700px !important
}
.w_220 {
	WIDTH: 220px !important
}
.w_350 {
	WIDTH: 350px !important
}
.w_500 {
	WIDTH: 500px !important
}
.w_120 {
	WIDTH: 120px !important
}
.w_140 {
	WIDTH: 140px !important
}
.w_76 {
	WIDTH: 76px !important
}
.w_80 {
	WIDTH: 80px !important
}
.w_130 {
	WIDTH: 130px !important
}
.w_200 {
	WIDTH: 200px !important
}
.w_460 {
	WIDTH: 460px !important
}
.w_98_percent {
	WIDTH: 98% !important
}
.w_240 {
	WIDTH: 240px !important
}
.w_140 {
	WIDTH: 140px; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.w_800 {
	WIDTH: 800px; WORD-WRAP: break-word; WORD-BREAK: break-all
}
.w_698 {
	WIDTH: 698px !important
}
.w_650 {
	WIDTH: 650px !important
}
.w_235 {
	WIDTH: 235px !important
}
.w_960 {
	MARGIN: 0px auto; WIDTH: 960px
}
.w_auto {
	WIDTH: auto !important
}
.w_570 {
	WIDTH: 570px !important
}
.line_30 {
	LINE-HEIGHT: 30px !important
}
.line_14 {
	LINE-HEIGHT: 14px !important
}
.line_24 {
	LINE-HEIGHT: 24px !important
}
.line_22 {
	LINE-HEIGHT: 22px !important
}
.no_lh {
	LINE-HEIGHT: 0 !important
}
.h_auto {
	HEIGHT: auto !important
}
.h_145 {
	MIN-HEIGHT: 145px; HEIGHT: auto !important
}
.no_cursor {
	CURSOR: auto !important
}
.p_t_no {
	PADDING-TOP: 0px !important
}
.no_bg {
	BACKGROUND-IMAGE: none !important
}
.min_130 {
	HEIGHT: 130px !important
}
.f_12 {
	FONT-SIZE: 12px !important
}
.min_100 {
	MIN-HEIGHT: auto !important; HEIGHT: 100px
}
.enter_clear {
	CLEAR: both
}
.no_wrap {
	WHITE-SPACE: nowrap
}
.no_wrap_hidden {
	WIDTH: 100%; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.no_bgc {
	BACKGROUND-COLOR: transparent !important
}
.over {
	BACKGROUND-COLOR: #f7f7f7 !important
}
.p_t_no {
	PADDING-TOP: 0px !important
}
.ov {
	OVERFLOW: visible !important
}
