@CHARSET "UTF-8";
*{ margin:0px; padding:0px;}
body{ font-family:Arial, Helvetica, sans-serif; font-size:12px;}

/*
MSN Messenger
*/
div#popMsg {
	
  z-index:99999;
  right: 0px;
  bottom: 0px;
  width: 185px;
  height:121px;
  visibility: hidden;
  display: none;
  position: fixed;
 
  background:url(images/msg.jpg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=.70);
  opacity: 0.70;
}

* html div#popMsg {
  position:absolute;
}

#popMsgContent {
  border-top: #728eb8 1px solid;
  color: #1f336b;
  height:80px; text-align:center;
  
}
#popMsgContent p{ height:30px; margin-top:15px;}